In [1]:
import pandas as pd
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import root_mean_squared_error

In [2]:
df_jan = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')
df_feb =pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet')

In [3]:
df_jan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [4]:
#Q1
len(df_jan.columns)

19

In [5]:
df_jan.tpep_dropoff_datetime = pd.to_datetime(df_jan.tpep_dropoff_datetime)
df_jan.tpep_pickup_datetime= pd.to_datetime(df_jan.tpep_pickup_datetime)

In [6]:
duration = df_jan.tpep_dropoff_datetime - df_jan.tpep_pickup_datetime

In [7]:
df_jan['duration'] = duration.apply(lambda x: x.total_seconds()/60)

In [8]:
#Q2
df_jan['duration'].std()

42.594351241920904

In [9]:
condition1 = df_jan['duration'] >= 1
condition2 = df_jan['duration'] <= 60
condition = condition1 & condition2

In [10]:
#Q3
len(df_jan[condition])/len(df_jan)

0.9812202822125979

In [11]:
df_jan = df_jan[condition]
df_jan_X = df_jan[['PULocationID','DOLocationID']].astype(str)

In [12]:
list_of_dicts_jan = df_jan_X.to_dict(orient='records')

In [13]:
v = DictVectorizer(sparse=False)

In [14]:
X = v.fit_transform(list_of_dicts_jan)

In [15]:
#Q4
X.shape

(3009173, 515)

In [16]:
y = df_jan['duration']

In [ ]:
model = LinearRegression()
model.fit(X, y)

In [ ]:
y_pred = model.predict(X)

In [ ]:
#Q5
rmse = root_mean_squared_error(y, y_pred)
rmse

In [ ]:
df_feb.tpep_dropoff_datetime = pd.to_datetime(df_feb.tpep_dropoff_datetime)
df_feb.tpep_pickup_datetime= pd.to_datetime(df_feb.tpep_pickup_datetime)
duration_feb = df_feb.tpep_dropoff_datetime - df_feb.tpep_pickup_datetime
df_feb['duration'] = duration_feb.apply(lambda x: x.total_seconds()/60)

In [ ]:
condition1_feb = df_feb['duration'] >= 1
condition2_feb = df_feb['duration'] <= 60
condition_feb = condition1_feb & condition2_feb
df_feb = df_feb[condition_feb]
df_feb_X = df_feb[['PULocationID','DOLocationID']].astype(str)
list_of_dicts_feb = df_feb_X.to_dict(orient='records')
X_feb = v.transform(list_of_dicts_feb)
y_feb = df_feb['duration'].values
y_feb_pred = model.predict(X_feb)
#Q6
rmse_feb = root_mean_squared_error(y_feb, y_feb_pred)
rmse_feb